.lists {
  display: flex !important;
  width: 100% !important;

  .ListsContainer {
    flex: 6 !important;
    .title {
      font-size: 16px !important;
      color: lightgray !important;
      margin-bottom: 20px !important;
    }
    .datatableTitle {
      width: 100%;
      font-size: 24px;
      color: gray;
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .link {
        text-decoration: none;
        color: green;
        font-size: 16px;
        font-weight: 400;
        border: 1px solid green;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    
    }
    .search {
      display: flex;
      align-items: center;
      border: 1px solid #ccc;
      padding: 5px;
      border-radius: 5px;
    }

    .search input[type="text"] {
      flex-grow: 1;
      border: none;
      outline: none;
      margin-right: 5px;
    }

    .search .search-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #eee;
      border-radius: 50%;
      height: 30px;
      width: 30px;
    }

    .bottom {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 10px 20px;
      table {
        .cellWrapper {
          display: flex;
          align-items: center;

          .image {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: 10px;
            object-fit: cover;
          }
        }

        .status {
          padding: 5px;
          border-radius: 5px;

          &.Approved {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
          }
          &.Pending {
            color: goldenrod;
            background-color: rgba(189, 189, 3, 0.103);
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    margin: 0 5px;
    color:gray;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none; /* Add this line to remove the outline */

    &:hover {
      background-color: #f5f5f5;
    }
  }
}
